---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-4xl font-bold">Hey I'm Kanan! &#128075</div>
    <div class="text-2xl py-2 font-bold" style="color:rgb(5, 5, 162);" >Machine Learning Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        I am a motivated young professional working in the Machine Learning, Computer Vision and Deep Learning domain. 
        I'm currently working at <b>Jio AI Center of Excellence Team, India</b> where 
        I majorly contribute in <b>Document Intelligence </b> Team. My passion lies in 
        crafting <b style="color:rgb(5, 5, 162);">Scalable AI Systems </b>that push the boundaries of what is possible.
        As there is a global LLM and GenAI craze, I'm alsp delving myself into <b style="color:rgb(5, 5, 162);">Transformers</b> 
        and <b style="color:rgb(5, 5, 162);">decoding LLM </b> use cases. Navigating the data-driven frontier with flair!
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
      Apart from work, you'll find me enthusiastically discussing about <b style="color:rgb(5, 5, 162);">Food, Cricket, Movies and Philosophies of life (sometimes)! </b>
      </text>
    </div>
    <div class="mt-8">
      <a class="btn"  href="https://linkedin.com/in/kanan-vyas-a11255119" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Latest Projects</div>
  </div>

  <HorizontalCard
    title="Box Detection using Traditional CV techniques"
    img="https://miro.medium.com/v2/resize:fill:224:224/1*WbdgnoJtNDuTF2qmjVHVUg.jpeg"
    desc="Given a structured rows and columns, this algorithm extracts boxes using only image processing techniques."
    url="https://github.com/KananVyas/BoxDetection"
    badge="Most Starred"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Player Detection in football videos using Color Spaces"
    img="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*zXS4XPz1RBa2GyCOOcm2SQ.jpeg"
    desc="Using HSV color space manipulation, recognizeplayers from different countries in a football match"
    url="https://github.com/KananVyas/PlayerDetection"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Exploring YOLO models - Person and Car Detection"
    img="https://raw.githubusercontent.com/KananVyas/person_car_detection_yolov5/master/metrics/output.png"
    desc="While exploring YOLOv5, built the end to end dockerized pipeline for Person and Car detection from an image."
    url="https://github.com/KananVyas/person_car_detection_yolov5"
    badge=""
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
