---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Books" sideBarActiveItemID="list-100">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Bucket List 100</div>
    List of 100 things I want to do in my life. Inspiration taken from one of my favourite <a href="https://huyenchip.com/list-100/" style="TEXT-DECORATION: underline"><b style="color:rgb(5, 5, 162)">Chip Huyen's List 100.</b></a>
    I will add more in the future.
    
  </div>

  <div class="mb-5">
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">

      <span>1.  Learn Yoga and be consistent atleast for 10 weeks. &#x2717; </span>
      <span>2.  Take one solo trip to a city &#x2717;</span>
      <span>3.  Read atleast 3 non-fiction books <b style="color:green">&#10003; </b></span>
      <span>4.  Learn atleast one foreign language &#x2717;</span>
      <span>5.  Read atleast one spiritual book (Bhagwad Geeta) &#x2717;</span>
      <span>6.  Learn Investing &#x2717;</span>
      <span>7.  Publish a PyPi package &#x2717;</span>
      <span>8.  Write one paper or patent &#x2717;</span>
      <span>9.  Learning to play a music instrument (20% done, have to restart again) &#x2717;</span>
      <span>10. Write a book &#x2717;</span>
      <span>11. Experience Snowfall and Snow Trekking &#x2717;</span>
      <span>12. Experience Ganga Aarti in Rishikesh &#x2717;</span>
      <span>13. Travel to Europe &#x2717;</span>
      <span>14. Travel to London, Ireland and Scotland &#x2717;</span>
      <span>15. Travel to New Zealand &#x2717;</span>
      <span>16. Watch Northern Lights &#x2717;</span>
      <span>17. Start a company &#x2717;</span>
      <span>18. Start a non-profit Organization &#x2717;</span>
      <span>19. Learn Gardening and grow vegetables in my garden &#x2717;</span>
      <span>20. Sleep in a tent and do stargazing &#x2717;</span>
      <span>21. Body Transformation &#x2717;</span>
      <span>22. Fast without water and food atleast once &#x2717;</span>
      <span>23. Take a walk with my partner while raining on mountains &#x2717;</span>
      <span>24. Get Married &#x2717;</span>
      <span>25. Volunteer to help the elderlies or join similar organization &#x2717;</span>
      <span>26. Do Kedarnath and Badrinath Yatra &#x2717;</span>

      
  </ul>
